<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Link - Action Required</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6;">

    <h2>Dear {{username}},</h2>
    
    <p>We hope this email finds you well. We have received a request for a password reset associated with your account.</p>

    <p>If you initiated this request, please follow the link below to reset your password:</p>

    <p><a href="https:localhost:8080/reset_password/{{token}}" style="text-decoration: none; background-color: #007bff; color: #ffffff; padding: 10px 20px; border-radius: 4px;">Reset Password</a></p>

    <p>Please note that this link is only valid for a limited time, so we recommend resetting your password as soon as possible to ensure the security of your account.</p>

    <p>If you did not request a password reset, please ignore this email. Rest assured that your account is secure, and no action is required on your part.</p>

    <p>For security reasons, do not share this password reset link with anyone. If you suspect any unauthorized activity on your account, please contact our support team immediately.</p>

    <p>Thank you for being a valued member of our community. If you have any questions or need further assistance, please don't hesitate to reach out to our support team.</p>

    <p>Best regards,</p>
    <p>Akvayu Family<br>
    Ajhuwa,UttarPradesh<br>
   </p>

</body>
</html>
